:root{
    --page-background: silver;
    --forestGreen: darkolivegreen;
    --mainColor: silver;
    --redBox: 1px solid red;
    --blueBox: 1px solid blue;
    --greenBox: 1px solid green;
    --whiteBox:  1px solid white;
    --cardWidth: 27%;
    --cardBorder: 2px dotted white;

}

html{}

body {
    margin: 0;
    padding: 0;
    background-color: var(--page-background);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    /* border: var(--greenBox); */
    text-align: center;
    width: 80%;
    margin: 40px auto;
}

.page-title {}

main {
    margin: 0;
    padding: 0;
}

section {
    /* border: var(--blueBox); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: ; */
    flex-wrap: wrap;
}

.row {}

.justify-center {}

.card-column {
    border: var(--cardBorder);
    width: var(--cardWidth);
    height: auto;
    margin-top: 40px;
    position: relative;
    padding: 20px 0;
}

#figure{
    /* border: var(--blueBox);
    background-color: lightgray; */
}

.card {
    /* width: 70%; */
}

.code-card {
    /* background-color: darkgray; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    margin: 0 20px;
    width: auto;
}

.card-header {
    border: var(--whiteBox);
    border-radius: 5px;
    z-index: 5;
    margin: -35px 0 0 ;
    background-color: var(--mainColor);
    padding: 10px;
    /* position: absolute; */
    /* top: -35px; */
    /* display: inline-block; */
    /* width: 80%; */
    /* width: 80%; */
    transition: margin-right 0.5s, color 1s;
}
  
.card-header:hover {
    margin-right: 30px;
    color:steelblue;
}

.card-body {
    /* background-color: lightgray; */
    /* flex-grow: 1; */
}

.code-block {
    margin-top: 0;
    border-radius: 5px;
    height:auto;
    font-family: monospace; 
    color: green;
    white-space: pre-wrap;
    background-color: aliceblue;
    background: linear-gradient(to top left,rgb(225, 235, 245) 10%,white 80%,rgb(225, 235, 245));
    padding: 20px 15px;
    user-select: all;
    /* flex-grow: 1; */
    flex: 1 1 auto;
}

footer {
    text-align: center;
    padding: 20px 40px;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1000px) {
    .card-column {
        width: 45%;
    }
}

@media only screen and (max-width: 750px) {
    .card-column {
        width: 90%;
    }
}

